@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --color1: #fff;
  --color2: rgb(46, 178, 255);
  --color3: rgb(255, 145, 0);
  --background1: rgba(179, 179, 179, 0.437);
  --background2: rgb(131, 131, 131);
  --bg-color: rgb(88, 88, 88);
}

// loader LOADER

// end of loader

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  word-wrap: break-word;
  background: var(--background1);
}

// header HEADER
.header {
  background-image: url(Images/austin-distel-mpN7xjKQ_Ns-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
  .container {
    // height: 100vh;
    margin-left: 100px;
    display: inline-block;
    z-index: 1;
    .container-cont {
      margin-bottom: 30px;
    }
    a {
      color: #fff;
      font-size: 1.5rem;
      padding: 20px 50px;
      display: inline-block;
      width: auto;
      text-align: center;
      margin-top: 20px;
      border: 2px solid var(--color2);
      transition: 0.5s;
      &:hover {
        background-color: var(--color2);
      }
    }
    h1 {
      font-size: 4rem;
      color: transparent;
      font-weight: normal;
      width: fit-content;
      animation: text_reveal 0.5s ease forwards; //animation
      position: relative;

      // the text animation
      &:nth-child(1) {
        animation-delay: 1s;
        span {
          animation-delay: 0.5s;
        }
      }
      &:nth-child(2) {
        animation-delay: 2s;
        span {
          animation-delay: 1.5s;
        }
      }
      &:nth-child(3) {
        animation: text_reveal_name 0.5s ease forwards;
        animation-delay: 3s;
        span {
          animation-delay: 2.5s;
        }
      }
      span {
        position: absolute;
        left: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: var(--color2);
        animation: text_reveal_box 1s ease forwards;
      }
    }
  }
}

// the nav bar THE NAV BAR
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  height: auto;
  background-color: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5 s;
  .nav-logo {
    img {
      width: 150px;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &.active {
      transition: 1s;
      width: 100%;
    }
    a {
      margin: 0 10px;
      font-size: 1.2rem;
      padding: 0 20px;
      color: var(--color1);
      text-decoration: none;
      &:hover {
        color: var(--color2);
      }
    }
  }
}

.hamburger {
  visibility: hidden;
  .hamburger-bars {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 3px solid white;
      animation: glowing_bars 1s ease infinite;
    }
    .bars {
      height: 2px;
      width: 30px;
      position: relative;
      background-color: white;
      z-index: 10;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        transition: 0.3s ease;
        transition-property: all;
        transition-property: top, bottom;
      }
    }
    & .bars::after {
      top: 8px;
    }
    & .bars::before {
      bottom: 8px;
    }
    &.active .bars::after {
      top: 0;
    }
    &.active .bars::before {
      bottom: 0;
    }
  }
}
// end of nav bar

// intersection observer
.itemss.show {
  animation: bottom_to_top 2s ease-in forwards;
  opacity: 1;
}

// services SERVICES
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10pc 0;
  h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0 15px 60px 15px;
    font-size: 5rem;
    text-align: center;
    span {
      color: var(--color2);
    }
  }
  .services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .services-item-content {
    display: flex;
    justify-content: center;
    width: 100%;

    &:nth-child(2) {
      .services-item:nth-child(2) {
        .services-tech-item:nth-child(1) {
          i {
            color: var(--color3);
          }
        }
        .services-tech-item:nth-child(2) {
          i {
            color: rgb(0, 187, 255);
          }
        }
        .services-tech-item:nth-child(3) {
          i {
            color: rgb(0, 0, 88);
          }
        }
      }
    }
  }
  .services-item {
    opacity: 0;
    cursor: default;
    box-shadow: -4px -4px 10px var(--background2),
      4px 4px 20px var(--background2);
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    // border: 3px solid var(--color2);
    padding: 4rem;
    margin: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transition: 0.2s;
    text-align: center;

    &:hover {
      box-shadow: -2px -2px 6px var(--background2),
        2px 2px 6px var(--background2);
    }
    h3:nth-child(1) {
      margin-bottom: 10px;
    }

    h3:nth-child(2) {
      font-size: 17px;
      margin-bottom: 50px;
    }
  }
  .services-tech {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
    .services-tech-item {
      // display: flex;
      text-align: center;
      font-weight: bold;
      margin: 0 20px;
      // padding: 0 10px;
      p {
        font-size: 20px;
        font-weight: normal;
        line-height: 35px;
        letter-spacing: 1px;
      }

      i {
        font-size: 40px;
        margin: 0;
      }
      &:nth-child(1) {
        i {
          color: orangered;
        }
      }
      &:nth-child(2) {
        i {
          color: rgb(0, 187, 255);
        }
      }
      &:nth-child(3) {
        i {
          color: var(--color3);
        }
      }
      &:nth-child(4) {
        i {
          color: rgb(0, 187, 255);
        }
      }
      &:nth-child(5) {
        i {
          color: rgb(0, 0, 88);
        }
      }
    }
  }
}
// end of services

// pROJECTS Projects

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    span {
      color: var(--color2);
    }
  }
  .projects-item {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    width: 100%;
    // margin: 0 0 20px 0;
    .projects-item-content {
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px 30px 10px;
      width: 40%;
      .projects-item-img {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        // border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transition: 0.7s;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
// end of projects

// about ABOUT
.about {
  padding: 0 25px;
  font-family: "Roboto", sans-serif;
  margin: 170px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  .about-img-content {
    width: 370px;
    height: 400px;
    margin-right: 50px;
    position: relative;
    display: flex;
    align-items: flex-end;
    .about-img {
      width: 320px;
      height: 370px;
      border: 10px solid var(--color2);

      img {
        width: 330px;
        height: 370px;
        border: 10px solid var(--bg-color);
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .about-text-content {
    width: 50%;
    h1 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 4rem;
      span {
        color: var(--color2);
      }
    }
    .other-about-text {
      font-size: 1rem;
      margin-top: 20px;
      p:first-child {
        letter-spacing: 1px;
        font-size: 1.6rem;
        line-height: 3.5rem;
      }
      p:nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
      a {
        color: #000;
        display: inline-block;
        width: auto;
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: normal;
        border: 2px solid var(--color2);
        padding: 10px 20px;
        transition: 0.5s;
        &:hover {
          color: var(--color1);
          background-color: var(--color2);
        }
      }
    }
  }
}
// end of about

// contacts CONTACTS
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 90px;
    padding: 0 20px;
    span {
      color: var(--color2);
    }
  }
  .contact-info {
    width: 100%;
    .contact-infoo {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .col-1-col {
        position: relative;
        width: 23%;
        height: auto;
        // border: 2px solid var(--color2);
        padding: 30px 20px;
        margin: 20px 10px 60px 10px;
        cursor: default;
        box-shadow: -4px -4px 10px var(--background2),
          4px 4px 20px var(--background2);
        background-color: rgb(223, 223, 223);
        border-radius: 10px;
        transition: 0.2s;
        &:nth-child(2) {
          padding: 40px 20px;
        }
        &:hover .tooltext-tip,
        &:active .tooltext-tip {
          visibility: visible;
          transition: 0.5s;
        }
        // &:active .tooltext-tip {
        //   transition-delay: 2s;
        // }
        .tooltext-tip {
          font-family: "Roboto", sans-serif;
          visibility: hidden;
          font-size: 1.3rem;
          text-align: center;
          font-weight: bold;
          position: absolute;
          color: var(--color1);
          bottom: 115%;
          left: 10px;
          width: auto;
          padding: 15px;
          border-radius: 10px;
          background-color: var(--color2);
          &::after {
            content: " ";
            position: absolute;
            top: 100%;
            display: block;
            border-width: 10px;
            border-style: solid;
            border-color: var(--color2) transparent transparent transparent;
          }
        }

        &:hover {
          background-color: var(--color2);
          color: var(--color1);
          box-shadow: -2px -2px 6px var(--background2),
            2px 2px 6px var(--background2);
        }
      }
    }
    .col-1-col {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      word-wrap: anywhere;
      p {
        font-size: 1.1rem;
        line-height: 25px;
      }
      i {
        margin-right: 15px;
        font-size: 1.6rem;
      }
    }
  }
}
// end of contacts

// footer FOOTER

.footer {
  background-color: var(--bg-color);
  width: 100%;
  min-height: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin: 30px 0;
    width: 300px;
  }
  div {
    display: flex;
    justify-content: center;
    width: 30%;
    i {
      cursor: pointer;
      font-size: 1.8rem;
      padding: 5px;
      margin: 0 12px;
      color: var(--color1);
      transition: 0.4s;
      &:hover {
        color: var(--color2);
      }
    }
  }
}

// animations ANIMATIONS
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: var(--color2);
  }
}
@keyframes glowing_bars {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes bottom_to_top {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  // 50% {
  //   transform: translateY(300px);
  // }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// media screens MEDIA SCREEN
@media screen and (max-width: 980px) {
  .hamburger {
    visibility: visible;
  }
  .nav-links {
    // display: none !important;
    position: fixed;
    flex-direction: column;
    background-color: var(--bg-color);
    justify-content: center;
    right: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    height: 100%;
    a {
      margin: 20px 0 !important;
    }
  }
  .contact {
    .col-1-col {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 45% !important;

      i {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-top: 50px !important;
    height: auto;
    &::after {
      height: 397px;
    }
  }

  .container {
    transform: scale(0.75);
    margin-left: 0 !important;
  }

  .services {
    .services-item {
      padding: 2.5rem;
    }
    .services-tech {
      i {
        font-size: 1.3rem !important;
      }
      p {
        font-size: 1.2rem !important;
      }
    }
  }
  .about {
    width: 100%;
    flex-direction: column;
    align-items: center;
    .about-text-content {
      width: 85%;
      margin-bottom: 40px;
      h1 {
        font-size: 3rem;
      }
    }
    .about-img-content {
      transform: scale(0.8);
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 530px) {
  .header::after {
    height: 472px;
  }
}

@media screen and (max-width: 450px) {
  .nav-container {
    width: 100vw;
  }
  .header::after {
    height: 337px;
  }
  .container {
    h1 {
      font-size: 3rem !important;
    }
  }
  .services {
    .services-item-content {
      flex-direction: column;
      align-items: center;
    }
    .services-item {
      width: 80%;
    }
    h1 {
      font-size: 3.5rem !important;
    }
  }
  .projects {
    h1 {
      font-size: 3rem;
    }
    .projects-item {
      flex-direction: column;
      align-items: center;
      .projects-item-content {
        width: 80%;
      }
    }
  }
  .contact {
    .col-1-col {
      width: 85% !important;
    }
  }
}
@media screen and (max-width: 397px) {
  .header::after {
    height: 392px;
  }
}
